<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course.department.name %> <%= @section.course.number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester.semester %>
</p>

<p>
  <strong>Students Enrolled:</strong>
  <% @section.students.each do |student| %>
  <li> <%=student.name%>
<% end %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
